.loginPage {
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background-color: var(--card);
    color: var(--active);
}

.signInTitle {
    text-align: center;
    font-size: 30px !important;
    padding: 0 0 20px 0;
}

.signInBtn {
    color: black !important;
    background-color: var(--primary) !important;
    width: 100%;
}

.signInTextParent {
    padding: 15px 45px !important;
    margin-left: 0px !important;
}

.signInText {
    color: white;
    font-size: 16px;
}