body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --background: #070C27;
    --primary: #8C7CF0;
    --secondary: #463E78;
    --card: #111633;
    --border: #6A7199;
    --grey: #CBCCD2;
    --active: #FFFFFF;
    --inactive: #9EA4C1;
}

@font-face {
    font-family: 'urbanDecay';
    src: local('urbanDecay'), 
        url(./fonts/urbanDecay.ttf) format('truetype');
}